div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

div img:not(.sun img) {
    animation: turn 3s linear infinite;
}

img {
    width: 100px;
}


.sun {
    width: 50px;
    height: 50px;

    @include mq(desktop) {
        width: 100px;
        height: 100px;
    }

}

.sun img {
    width: 50px;
    height: 50px;

    @include mq(desktop) {
        width: 100px;
        height: 100px;
    }
}

.mercury {
    width: 50px;
    height: 50px;

    @include mq(desktop) {
        width: 100px;
        height: 100px;
    }

    animation: orbit 3s linear infinite;
}

.mercury img {
    width: 10px;
    height: 10px;

    @include mq(desktop) {
        width: 20px;
        height: 20px;
    }
}

.venus {
    width: 70px;
    height: 70px;

    @include mq(desktop) {
        width: 130px;
        height: 130px;
    }

    animation: orbit 4s linear infinite;
}

.venus img {
    width: 10px;
    height: 10px;

    @include mq(desktop) {
        width: 20px;
        height: 20px;
    }
}

.earth {
    width: 90px;
    height: 90px;

    @include mq(desktop) {
        width: 180px;
        height: 180px;
    }

    animation: orbit 5s linear infinite;
}

.earth img {
    width: 20px;
    height: 20px;

    @include mq(desktop) {
        width: 30px;
        height: 30px;
    }
}

.mars {
    width: 115px;
    height: 115px;

    @include mq(desktop) {
        width: 230px;
        height: 230px;
    }

    animation: orbit 6s linear infinite;
}

.mars img {
    width: 15px;
    height: 15px;

    @include mq(desktop) {
        width: 20px;
        height: 20px;
    }

    animation: turn 3s linear infinite;
}